@use '../../styles/scss-constants.scss' as *;

.footer.page-content {
  background-color: #ff8c00; 
  padding: 1rem;
  width: 100%;
  color: white;
  
  span {
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 1px 10px 1px 10px;
  }

  span.title {
    font-size: medium;
  }
}


