@import '../../styles/scss-constants.scss';


.footer.page-content span {
  color: #fff;
  font-weight: bold;
  display: inline-block;
  margin: 1px 10px 1px 10px;
}

.footer.page-content span.title {
  font-size: medium;
}


